<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Defiant_Zombie.KSP.Skeleton.UnityEngine.CoreModule" version="1.11.2" targetFramework="net48" />
  <package id="Defiant_Zombie.KSP.Skeleton.UnityEngine.PhysicsModule" version="1.11.2" targetFramework="net48" />
  <package id="EXILEDOFFICIAL" version="8.11.0" targetFramework="net48" />
</packages>